Este colab fue desarrollado por Arnold Charry Armero.

# Acumuladores y Contadores

## Ejercicio 1

Realice un programa que sume los números impares entre el 0 y el 30 e imprima el resultado de la suma.

In [3]:
cont = 0
sum = 0

while cont <= 30:
  if cont % 2 != 0:
    print(cont)
    sum += cont
  cont += 1
else:
  print(f"El resultado de la suma es {sum}")

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
El resultado de la suma es 225

## Ejercicio 2

Realice un programa que pida al usuario 10 números enteros (debe leerlos uno a uno), y luego muestre en pantalla la suma de todos los números ingresados por el usuario.

In [5]:
cont = 1
sum = 0

while cont <= 10:
  num = float(input(f"Ingrese el número {cont}: "))
  sum += num
  cont += 1
else:
  print(f"La suma de los números ingresados es {sum}")

Ingrese el número 1: 5
Ingrese el número 2: 5
Ingrese el número 3: 5
Ingrese el número 4: 5
Ingrese el número 5: 5
Ingrese el número 6: 5
Ingrese el número 7: 5
Ingrese el número 8: 5
Ingrese el número 9: 5
Ingrese el número 10: 5
La suma de los números ingresados es 50.0

## Ejercicio 3

Realice un programa que le pida al usuario 10 nombres, y cuente cuantas veces escribió el nombre “Juan” (valide para que cuente a Juan, sin importar los cambios tipográficos de mayúsculas o minúsculas).

In [6]:
cont = 1
sum = 0

while cont <= 10:
  name = input(f"Escriba el nombre número {cont}: ")
  if name.strip().lower() == "juan":
    sum += 1
  cont += 1
else:
  print(f"El nombre de Juan fue escrito {sum} veces")

Escriba el nombre número 1: Juan
Escriba el nombre número 2: Arnold
Escriba el nombre número 3: Miguel
Escriba el nombre número 4: Juan
Escriba el nombre número 5: William
Escriba el nombre número 6: Ana
Escriba el nombre número 7: Emmanuel
Escriba el nombre número 8: Juan
Escriba el nombre número 9: Rolando
Escriba el nombre número 10: Andrés
El nombre de Juan fue escrito 3 veces

## Ejercicio 4

¿Recuerdas el juego de apostar un dinero y que dados 3 números ganaba 3 veces lo apostado, una vez y media, o perdía todo?. Te propongo un reto, que tal si tomamos ese juego, y lo organizamos para que el usuario al correrlo pueda jugar 5 veces y luego de esas 5 veces le mostremos con cuanto dinero terminó.

In [11]:
from random import randint

cont = 1
cash = float(input("¿Cuánto dinero quiere apostar?: "))

while cont <= 5:
  number1 = randint(1, 6)
  number2 = randint(1, 6)
  number3 = randint(1, 6)
  if number1 == number2 and number2 == number3:
    cash *= 3
  elif number1 == number2 or number2 == number3 or number1 == number3:
    cash *= 1.5
  else:
    cash = 0
  print(f"Dinero actual: {cash}")
  cont += 1

¿Cuánto dinero quiere apostar?: 3000
Dinero actual: 4500.0
Dinero actual: 0
Dinero actual: 0.0
Dinero actual: 0
Dinero actual: 0

## Ejercicio 5

Realice un programa que lea N empleados de una fábrica, y a cada uno le pida, nombre, edad, salario, gastos mensuales.

a. Muestre cuánto suma el salario resultante (salario – gastos mensuales) de todos empleados.

b. Indique a cuántos empleados, sus gastos superan el salario.

In [13]:
N = int(input("¿Cuántos empleados hay en la fábrica? "))
cont = 1
expenses_super = 0

while cont <= N:
  name = input(f"¿Cuál es el nombre del empleado {cont}?: ")
  age = int(input(f"¿Cuál es la edad del empleado {cont}?: "))
  salary = float(input(f"¿Cuál es el salario del empleado {cont}?: $"))
  expenses = float(input(f"¿Cuales son los gastos del empleado {cont}?: $"))
  print(f"El salario resultante del empleado {name} es de ${salary - expenses}")
  if salary - expenses < 0:
    expenses_super += 1
  cont += 1
else:
  print(f"En total, {expenses_super} empleados tienen gastos mayores a su salario.")

¿Cuántos empleados hay en la fábrica? 3
¿Cuál es el nombre del empleado 1?: Arnold
¿Cuál es la edad del empleado 1?: 22
¿Cuál es el salario del empleado 1?: $3800000
¿Cuales son los gastos del empleado 1?: $2000000
El salario resultante del empleado Arnold es de $1800000.0
¿Cuál es el nombre del empleado 2?: Miguel
¿Cuál es la edad del empleado 2?: 22
¿Cuál es el salario del empleado 2?: $2800000
¿Cuales son los gastos del empleado 2?: $3000000
El salario resultante del empleado Miguel es de $-200000.0
¿Cuál es el nombre del empleado 3?: Ana
¿Cuál es la edad del empleado 3?: 51
¿Cuál es el salario del empleado 3?: $3000000
¿Cuales son los gastos del empleado 3?: $6000000
El salario resultante del empleado Ana es de $-3000000.0
En total, 2 empleados tienen gastos mayores a su salario.